<!-- <div class="container bg-light mt-5 " style="width: 500px;">
    <h2>Register</h2>
    <form [formGroup]="registrationform">
        <div class="form-group inputBox">
            <label>Username</label>
            <input
                [class.is-invalid]="registrationform.get('username.invalid') && registrationform.get('username.touched')"
                type="text" formControlName="username" class="form-control" required="">
            <small [class.d-none]="registrationform.get('username.value') && registrationform.get('username.untouched')"
                class="text-danger">Username is Required</small>
        </div>
    </form>
</div> -->